<!DOCTYPE html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Doja Cat</title>
    <link rel="stylesheet" href="{% static 'galeria/css/artista.css' %}">
</head>

<body>
    <div class="menu-container">
        <div class="menu">
            Menu
        </div>
        <div class="menu-items">
            <a href="{% url 'index' %}" class="menu-item">Ínicio</a>
            <a href="{% url 'albuns' %}" class="menu-item">Álbuns</a>
            <a href="{% url 'galeria' %}" class="menu-item">Galeria</a>
            <a href="{% url 'stream' %}" class="menu-item">Ouvir</a>
        </div>
    </div>

    <div class="container">
        <h1>Doja Cat</h1>
        <img src="{% static 'galeria/img/Doja (9).png' %}" alt="Imagem de Doja Cat" class="section-image">
        <p><strong>Doja Cat</strong>, nome artístico de <strong>Amala Ratna Zandile Dlamini</strong>, é uma rapper, cantora e compositora americana, conhecida por sua fusão única de hip-hop, pop, R&B e elementos de subculturas da internet. Sua carreira ganhou destaque com singles virais, como "<em>Mooo!</em>" e "<em>Say So</em>", e ela rapidamente se tornou uma das artistas mais inovadoras e polêmicas da música contemporânea.</p>
        
        <h2>Realizações e Fatos Importantes</h2>
        <ul>
            <li>Lançamento de seu álbum de estreia "<strong>Amala</strong>" em 2018, que marcou seu começo no mainstream.</li>
            <li>Recebeu o <strong>Grammy</strong> de "<strong>Melhor Performance de Música Pop</strong>" em 2021 pelo sucesso "<em>Say So</em>".</li>
            <li>Fez contribuições filantrópicas, incluindo uma doação de <strong>$100.000</strong> ao fundo <em>Justice for Breonna Taylor</em> em 2020.</li>
            <li>Causou controvérsia nas redes sociais, incluindo críticas sobre suas declarações passadas e comportamento durante a pandemia de COVID-19.</li>
            <li>Estabeleceu-se como uma influente personalidade da internet, aproveitando subculturas online para moldar sua estética musical e visual.</li>
        </ul>

        <div class="header">
            <h2>Vida Pessoal</h2>
            <div class="section">
                <img src="{% static 'galeria/img/Doja (7).png' %}" alt="Imagem de Doja Cat" class="section-image">
                <p><strong>Doja Cat</strong>, nascida <strong>Amala Ratna Zandile Dlamini</strong>, em 21 de outubro de 1995, no bairro de Tarzana, em Los Angeles, Califórnia, cresceu em uma casa multicultural. Ela é filha de um pai sul-africano, <strong>Dumisani Dlamini</strong>, ator e produtor, e uma mãe judia-americana, <strong>Deborah Sawyer</strong>, pintora. Sua infância foi profundamente influenciada pela música e pelas artes, com sua mãe apresentando artistas como <em>Earth, Wind & Fire</em>, <em>D'Angelo</em> e <em>Erykah Badu</em>.</p>
                <p>Logo após seu nascimento, a família se mudou para Rye, Nova York, onde morou com sua avó materna por cinco anos. Aos oito anos, Dlamini voltou à Califórnia e passou a morar no Sai Anantam Ashram, uma comuna em Agoura Hills, onde praticou o hinduísmo por quatro anos. Durante esse período, ela usou lenços na cabeça e cantava bhajans no templo, mas relatou sentir que não podia "ser uma criança".</p>
                <p>Após sair do ashram, a família se mudou para Oak Park, onde Dlamini teve uma infância esportiva, praticando atividades como skate e surf, além de frequentar aulas de dança e participar de competições de poplocking por Los Angeles. Ela também enfrentou preconceito racial, sendo uma das poucas crianças mestiças da região.</p>
                <p>Em sua adolescência, Dlamini frequentou aulas de breakdancing e foi incentivada por sua tia, coach vocal, a se aprofundar na música. Apesar de frequentemente faltar à escola para participar de bate-papos online, ela percebeu em seu 11º ano que sua verdadeira paixão era a música e a performance, abandonando a escola aos 16 anos devido a dificuldades com o Transtorno de Déficit de Atenção e Hiperatividade (TDAH).</p>
                <p>Desde agosto de 2024, Doja Cat está em um relacionamento com o ator <strong>Joseph Quinn</strong>. A relação entre eles chamou a atenção da mídia, mas Doja mantém sua vida amorosa privada.</p>
            </div>
        </div>
        

        <div class="header">
            <h2>Controvérsias</h2>
            <div class="section">
                <img src="{% static 'galeria/img/Doja (10).png' %}" alt="Imagem representativa das controvérsias" class="section-image">
                <p>Em 2018, Doja Cat gerou controvérsia nas redes sociais quando seu histórico no Twitter revelou o uso contínuo da palavra "<strong>faggot</strong>". Em um tweet de 2015, ela usou a palavra para descrever os artistas de hip-hop <strong>Tyler, the Creator</strong> e <strong>Earl Sweatshirt</strong>. Inicialmente, Doja Cat defendeu suas declarações passadas, mas depois fez uma série de desculpas, deletando seus tweets. Como resultado da polêmica, ela foi chamada de "<strong>Milkshake Duck de 2018</strong>" pela <em>NME</em>.</p>
                <p>Em março de 2020, ela recebeu críticas após afirmar, em uma transmissão ao vivo no Instagram, que o COVID-19 era "<em>apenas uma gripe</em>" e que não estava com medo dele. Mais tarde, naquele outubro, Doja Cat foi criticada por participar das celebrações de Halloween e aniversário de <strong>Kendall Jenner</strong> durante a pandemia de COVID-19.</p>
                <p>Em maio de 2020, uma música de 2015 de Doja Cat chamada "<em>Dindu Nuffin</em>" ressurgiu. "<em>Dindu Nuffin</em>" é um termo da alt-right usado para zombar de detidos afro-americanos que protestam sua inocência. Após pedir desculpas, Doja Cat disse que, embora a música fosse destinada a reverter o significado do termo, foi uma "<strong>má decisão</strong>".</p>
                <p>Em março de 2022, Doja Cat ameaçou abandonar a música devido à reação negativa sobre um incidente ocorrido durante sua passagem por Paraguai, quando o festival <em>Asunciónico</em> foi cancelado devido a condições climáticas severas. Após o cancelamento, fãs se reuniram fora de seu hotel, mas Doja não apareceu para encontrá-los, sendo acusada de rudeza. Ela acabou publicando tweets dizendo que não estava arrependida e que deixaria a indústria musical, mas voltou dois dias depois com uma mensagem de agradecimento aos fãs.</p>
                <p>Em outubro de 2023, Doja Cat publicou uma selfie usando uma camiseta com a imagem do comediante alt-right <strong>Sam Hyde</strong> no Instagram, gerando grande repercussão online. Ela deletou a foto e repostou outra, com a imagem de Hyde editada.</p>
            </div>
        </div>

        <div class="header">
            <h2>Carreira e Influências</h2>
            <div class="section">
                <img src="{% static 'galeria/img/Doja (2).png' %}" alt="Imagem de Doja Cat performando" class="section-image">
                <p>Doja Cat citou <strong>Nicki Minaj</strong> como uma de suas maiores inspirações. Ela também mencionou <strong>Lauryn Hill</strong>, <strong>Busta Rhymes</strong> e <strong>Missy Elliott</strong> como influências musicais. Desde sua adolescência, Doja foi fascinada por subculturas online, que moldaram sua estética e estilo musical. Seu trabalho combina elementos de hip-hop, pop, R&B e dancehall com humor e criatividade únicos.</p>
            </div>
        </div>

        <div class="header">
            <h2>Contribuições e Impacto</h2>
            <div class="section">
                <img src="{% static 'galeria/img/Doja (11).png' %}" alt="Imagem representativa de impacto social" class="section-image">
                <p>Além de sua carreira musical, Doja Cat é conhecida por suas contribuições filantrópicas. Em junho de 2020, ela doou <strong>$100.000</strong> ao fundo <em>Justice for Breonna Taylor</em>, em apoio à família de Taylor. Sua capacidade de se conectar com os fãs por meio de sua autenticidade e senso de humor a tornou uma figura influente nas redes sociais e na indústria musical.</p>
            </div>
        </div>

        <div class="header">
            <h2>Saúde e Superações</h2>
            <div class="section">
                <img src="{% static 'galeria/img/Doja (3).png' %}" alt="Imagem representativa de saúde" class="section-image">
                <p>Doja Cat enfrentou desafios significativos relacionados à saúde. Em maio de 2022, ela revelou que precisou drenar um abscesso em sua amígdala causado pelo uso de vaporizador, levando à necessidade de uma amigdalectomia. Além disso, ela superou um vício em álcool e cigarros, enfatizando a importância dessas mudanças para sua saúde e carreira.</p>
            </div>
        </div>

    </div>
</body>

</html>
