<!DOCTYPE html>

  <head>
    <meta charset="UTF-8" />
    <title>Galeria de fotos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'galeria/css/galeria.css' %}" />
  </head>

  <body>
    <div class="menu-container">
        <div class="menu">
            Menu
        </div>
        <div class="menu-items">
            <a href="../index.html" class="menu-item">Ínicio</a>
            <a href="artista.html" class="menu-item">Sobre</a>
            <a href="albuns.html" class="menu-item">Albuns</a>
            <a href="stream.html" class="menu-item">Ouvir</a>
        </div>
    </div>

    <div class="container">
      <h1>Galeria</h1>

      <div class="header">
        <div class="gallery">
            <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (1).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (1).png' %}" alt="Doja Cat 1" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (2).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (2).png' %}" alt="Doja Cat 2" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (3).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (3).png' %}" alt="Doja Cat 3" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (4).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (4).png' %}" alt="Doja Cat 4" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (5).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (5).png' %}" alt="Doja Cat 5" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (6).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (6).png' %}" alt="Doja Cat 6" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (7).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (7).png' %}" alt="Doja Cat 7" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (8).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (8).png' %}" alt="Doja Cat 8" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (9).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (9).png' %}" alt="Doja Cat 9" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (10).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (10).png' %}" alt="Doja Cat 10" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (11).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (11).png' %}" alt="Doja Cat 11" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (12).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (12).png' %}" alt="Doja Cat 12" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (13).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (13).png' %}" alt="Doja Cat 13" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (14).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (14).png' %}" alt="Doja Cat 14" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (15).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (15).png' %}" alt="Doja Cat 15" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (16).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (16).png' %}" alt="Doja Cat 16" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (17).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (17).png' %}" alt="Doja Cat 17" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (18).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (18).png' %}" alt="Doja Cat 18" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (19).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (19).png' %}" alt="Doja Cat 19" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (20).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (20).png' %}" alt="Doja Cat 20" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (21).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (21).png' %}" alt="Doja Cat 21" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (22).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (22).png' %}" alt="Doja Cat 22" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (23).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (23).png' %}" alt="Doja Cat 23" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (24).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (24).png' %}" alt="Doja Cat 24" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (25).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (25).png' %}" alt="Doja Cat 25" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (26).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (26).png' %}" alt="Doja Cat 26" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (27).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (27).png' %}" alt="Doja Cat 27" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (28).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (28).png' %}" alt="Doja Cat 28" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (29).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (29).png' %}" alt="Doja Cat 29" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (30).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (30).png' %}" alt="Doja Cat 30" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (31).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (31).png' %}" alt="Doja Cat 31" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (32).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (32).png' %}" alt="Doja Cat 32" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (33).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (33).png' %}" alt="Doja Cat 33" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (34).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (34).png' %}" alt="Doja Cat 34" class="gallery-image"/>
                </a>
              </div>
              <div class="gallery-item">
                <a href="{% static 'galeria/img/Doja_galeria (35).png' %}" download>
                  <img src="{% static 'galeria/img/Doja_galeria (35).png' %}" alt="Doja Cat 35" class="gallery-image"/>
                </a>
              </div>
              
        </div>
      </div>
    </div>
  </body>
</html>
